@model List<Feature>
@{
    int counter = 0;
}
@section cssLinks{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}
<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
</style>
<div class="container-fluid">
    <div class="header">
        <h1>Features Tables</h1>
        <a class="btn btn-primary" asp-action="create" asp-controller="feature">Create</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Icon</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feature in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@feature.Title</td>
                    <td style="max-width:300px;">@feature.Description</td>
                    <td style="font-size: 30px;">@Html.Raw(feature.Icon)</td>
                    <td>
                        <a class="btn btn-warning" asp-action="update" asp-controller="feature" asp-route-id="@feature.Id">Update</a>
                        <a class="btn btn-danger delete-btn" asp-action="softdelete" asp-controller="feature" asp-route-id="@feature.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section jsLinks{
    <script src="~/admin/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.js"></script>
}